body {
    padding: 100px;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.child {
    color: white;
    display: inline-block;
    border: 3px solid blue;
    background-color: blue;
    border-radius: 5px; 
}